@use "./variables" as *;

@mixin grey-box-with-hover {
  box-shadow: $shadow-sm;
  background-color: $expense-item-bg;

  &:hover {
    background-color: $expense-item-bg-hover;
    color: $font-color-hover !important;
    box-shadow: $shadow-md-light;
  }
}

@mixin box-shadow-with-hover {
  box-shadow: $shadow-sm;

  &:hover {
    box-shadow: $shadow-lg;
  }
}

@mixin text-shadow-with-hover {
  text-shadow: $shadow-sm;

  &:hover {
    text-shadow: $shadow-lg;
  }
}

@mixin transitions {
  transition: background-color 0.2s, color 0.3s, border-color 0.4s,
    box-shadow 0.4s, text-shadow 0.4s;
}

@mixin flexbox(
  $direction: row,
  $align: center,
  $justify: center,
  $flex: initial,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex: $flex;
  flex-wrap: $flex-wrap;
}

@mixin font-white-with-hover {
  color: $font-color;

  &:hover {
    color: $font-color-hover;
  }
}

@mixin rounded-corners {
  border-radius: 50vh;
}

@mixin rounded-card-corners {
  border-radius: 12px;
}

@mixin card-fill {
  padding: 1rem;
  background: $box-bg;
  margin: 2rem auto;
  width: 70rem;
  max-width: 95%;
  box-shadow: $shadow-lg;
}

@mixin button($font-size) {
  @include font-white-with-hover;
  @include text-shadow-with-hover;
  @include transitions;

  font-size: $font-size;
  font-weight: bold;
  background-color: rgba(31, 31, 31, 0.7);
  border: 1px solid $border-color;
  border-radius: 24px;
  cursor: pointer;
  padding: 1.5rem;
  margin: 0.5rem;

  &:hover {
    border: 1px solid $border-color-hover;
    background-color: #2a2a2a;
  }

  &:active {
    color: #aaa;
    border: 1px solid #ccc;
    background-color: #0a0a0a;
    box-shadow: 0 1px 18px rgba(0, 0, 0, 0.75);
  }

  &.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;

    &:hover,
    &:active {
      background-color: #ddb3f8;
    }
  }
}
